.vscode
.env
LICENSE
pubmedreq/
trash/

*.pickle
*.pkl
*.csv
*.json
*.xlsx
*.xlx
*.txt

venv/
ArchivedCodes/
pubmed_data/
Code/__pycache__/__init__.cpython-39.pyc
Code/__pycache__/Pubmed_Retriever.cpython-39.pyc
